html {
    scroll-behavior: smooth;
}

.btn-gradient {
    background-image: linear-gradient(to right, #9caf88, #414939);
    border: none;
    color: #ffffff;
}

.btn-gradient-card {
    background-image: linear-gradient(to right, #9caf88, #414939);
    border: none;
    color: white;
}

.btn-gradient:hover {
    opacity: 0.9;
}

.navbar-gradient {
    background-image: linear-gradient(to right, #e5eedb, #414939);
    border: none;
    color: #e5eedb;
}

.join-item.btn-disabled {
    background-color: white !important;
    color: black !important;
    border-color: #d2d6dc !important;
}

/* BARU: CSS untuk menyembunyikan scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* BARU: Mengubah kursor saat item ditarik */
.cursor-grab.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.down {
    position: absolute;
    left: 45.5%;
    top: 90%;
}
