body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    background: linear-gradient(rgba(248, 244, 234, 0), rgba(0, 0, 0, 0.541)),
        url("../images/bg-4.webp");
    background-size: cover;
    background-position: center 20%;
    background-attachment: fixed;
    color: #3c4b44;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: left;
    padding-top: 50px;
    padding-left: 70px;
}

header img {
    width: 100px;
    height: auto;
}

.bg-dark-green {
    background-color: #3c4b44;
}
.bg-light-green {
    background-color: #9ec0b3;
}

.card-custom {
    background-color: #ffffff;
    border-radius: 0.2rem;
    padding: 3rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-dark-green {
    color: #414939;
}
.text-light-green {
    color: #9ec0b3;
}

.form-input-custom {
    background-color: #dfe6da38;
    border-radius: 9999px;
    border: none;
    padding: 0.75rem 1.5rem;
    width: 100%;
}

.btn-custom {
    background-image: linear-gradient(to right, #9caf88, #414939);
    color: #ffffff;
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    width: 100%;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(0);

    /* Animasi muncul saat load */
    opacity: 0;
    animation: fadeInUp 0.6s ease-out forwards;
    animation-delay: 0.4s;
}
.btn-custom:hover {
    background-color: #88a699;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px) scale(1.03);
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.abstract-shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background-color: #9ec0b3;
    border-radius: 0 0 9999px 0;
    transform: rotate(-15deg) translateX(-50px) translateY(-50px);
    z-index: 0;
}
.abstract-shape-2 {
    position: absolute;
    top: 150px;
    left: 100px;
    width: 180px;
    height: 180px;
    background-color: #9ec0b3;
    border-radius: 9999px 0 0 9999px;
    transform: rotate(25deg) translateX(-70px) translateY(-30px);
    z-index: 0;
    opacity: 0.7;
}
.footer-link {
    color: #e0e2da;
    text-decoration: none;
    font-weight: 500;
}
.footer-link:hover {
    text-decoration: underline;
}
