.body-custom {
    background: linear-gradient(
          rgba(248, 244, 234, 0.85),
          rgba(248, 244, 234, 0.205)
        ),
        url("../images/bg-4.webp");
    background-size: cover;
    background-position: center 20%;
    background-attachment: fixed;
    color: #3c4b44;
}


@media (max-width: 768px) {
    .body-custom {
        background-attachment: scroll;
    }
}

.bg-dark-green {
    background-color: #3c4b44;
}

.btn-custom {
    background-color: #3c4b44;
    color: #fff;
    border-radius: 9999px;
    padding: 0.5rem 1.25rem;
    font-weight: 600;
    transition: background-color 0.2s;
}

.btn-custom:hover {
    background-color: #2e3833;
}
